.navkinks {
  background-color: #232f3e;
  height: 41px;
  color: white;
}
.navlinks_outer {
  width: 90%;
  margin: auto;
  padding: 6px;
}
.navlinks_outer a {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  /* margin-top: 5px; */
  /* margin: auto; */
  margin-right: 4px;
  border: 1px solid #232f3e;
}
.navlinks_outer a:hover {
  border: 1px solid #fff;
  border-radius: 4px;
}
.navlinks_inner {
  margin-bottom: 40px;
  padding-bottom: 40px;
  justify-content: space-evenly;
}
/* .menu {
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 5px;
} */
